{% if include.isFadeContainer %}
  {% assign isFadeContainer = "fadeContainer" %}
  {% assign isMobileContainer = "mobile" %}
{% endif %}

<div class="splash">
  <div id="{{ isMobileContainer }}heroContainer" class="heroContainer pageSpacing">
    <div class="fadeContainer">
      <div class="intro">
        <h1 class="hero connectorTitle">
          Connector catalog
        </h1>
        <p>Kafka Connect is a framework for connecting Kafka to external systems. It uses source connectors to move data into Kafka, and sink connectors to move data out of Kafka.</p>
        <p>The connector catalog contains a list of connectors that are supported either by IBM or the community: 
          <ul>
            <li> <b>IBM supported:</b> Support is provided by IBM for customers with a support entitlement for IBM Cloud Pak for Integration. Raise any issues through the official IBM support channel. IBM will investigate, identify, and provide a fix when possible.</li>
            <li><b>Community supported:</b> Each community connector is subject to its own set of license terms and not supported by IBM. Raise issues through the community support links provided for each connector.</li>
          </ul>
        </p>
      </div>
      <div class="keyTasks">
        {% for item in site.data.navigation.connectorQuickLinks %}
          <div class="task" role="link" tabindex="0" onclick="window.open('{{ site.url }}{{ site.baseurl }}{{ item.link[1].url }}','_self')">
            <div class="title">
              <h3><a tabindex="-1" href="{{ site.url }}{{ site.baseurl }}{{ item.link[1].url }}">{{ item.link[0].title }}</a></h3>
            </div>
            <div class="progressIcon">
              <svg alt="Progress icon" class='icon'>
                <use xlink:href='{{ site.url }}{{ site.baseurl }}/assets/images/icons/next.svg#icon' />
              </svg>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>