---
layout: collection
---
{% assign basicURL = "/es" | append: page.url | replace: page.collection, "" | replace: "//", "/" %}

{% assign urlParts = page.url | split: '/' %}
{% assign lastPart = urlParts | last %}

{% if lastPart == 'api' %}
{% assign basicURL = "/api/" %}
{% endif %}

{% if lastPart == 'support' %}
{% assign basicURL = "/support/" %}
{% endif %}

{% if lastPart == 'connectors' %}
{% assign basicURL = "/connectors/" %}
{% endif %}

{% if lastPart == 'tutorials' %}
{% assign basicURL = "/tutorials/" %}
{% endif %}


<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="refresh" content="{{ page.delay | default: 10 }}; url=https://ibm.github.io/event-automation/es{{ basicURL }}">
  <title>Redirecting...</title>
</head>
<body>
    <div class="intro">Our site has been moved to include additional capabilities offered by IBM Event Automation. Redirecting to the new site in <span id="countdown">{{ page.delay | default: 10 }}</span> seconds...
      {% if page.url contains 'support' %}
      <p>If you are not redirected, <a href="https://ibm.github.io/event-automation/support">click here</a>.</p>
      {% elsif page.url contains 'api' %}
      <p>If you are not redirected, <a href="https://ibm.github.io/event-automation/api">click here</a>.</p>
    
       {% elsif page.url contains 'tutorials' %}
      <p>If you are not redirected, <a href="https://ibm.github.io/event-automation/tutorials">click here</a>.</p>
     
      {% elsif basicURL == "/connectors" %}
      <p>If you are not redirected, <a href="https://ibm.github.io/event-automation/connectors">click here</a>.</p>
    
      {% else %}
      <p>If you are not redirected, <a href="https://ibm.github.io/event-automation{{ basicURL }}">click here</a>.</p>
      {% endif %}

</div>
  <script>
    var countdown = {{ page.delay | default: 10 }};
    var interval = setInterval(function() {
      countdown--;
      document.getElementById('countdown').innerHTML = countdown;
      if (countdown === 0) {
        clearInterval(interval);
        window.location.href = "https://ibm.github.io/event-automation{{ basicURL }}";
      }
    }, 1000);
  </script>  
</body>
</html>
