---
layout: single
---
<div id="splashHeaderContent" class="splashHeaderContent">
  <div id="homePanel" class="panel homepanel">
    <div class="heroContainer pageSpacing">
      <div class="intro">
        {% if page.latest %}
          <img class="pictogramHero" src="{{ site.url }}{{ site.baseurl }}/assets/images/branding/es_pictogram_expressive_dark.svg" />
        {% endif %}
        <h1 class="hero small">
          Welcome to IBM Event Streams (deprecated)<a onclick="toggleDropdown('open');" href="#" aria-label="Change Version"
            tabindex="0" class="versionPill">{{ page.collection }}</a>
        </h1>
        <h1 class="hero">
          Documentation
        </h1>

        {% if page.latest %}
          <p class="esIntro">Built on Apache Kafka, IBM Event Streams is a high-throughput, fault-tolerant, event
            streaming platform that helps you build intelligent, responsive, event-driven applications.<br> <br> <b>Note:</b> This documentation is for the now deprecated self-managed version of IBM Event Streams. For self-managed software solutions that require Apache Kafka, IBM recommends the Confluent Platform available as an add-on for <a class="link" target="_self" href="https://www.ibm.com/support/knowledgecenter/SSGT7J_21.1/welcome.html">Cloud Pak for Integration</a>.</p>

          {% if page.latest %}
            {%- assign collectionURL = "" -%}
          {% else %}
            {% if page.mastheadNavItem == "Documentation" %}
              {%- assign collectionURL = page.collection -%}
            {% endif %}
          {% endif %}
        {% endif %}

      </div>
    </div>
    {% if page.latest %}
      {% include latestFeaturesHero.html %}
    {% endif %}
  </div>
  <div id="remotePanel" class="panel remotePanel pageSpacing">

  </div>
  <div class='loading'>
    <p class='loadingText'>
      Loading...
    </p>
  </div>
</div>

{% include splashContent.html fromFeatureHero=true %}
